/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*
/* Остальные стили */
:root.theme_light {
  
}

.page.theme_light {
  --accent-color: #ff8dcb;
  --title-color: #ffc2e6;
  --focus-color: #353430;
  --shadow-color: #ff0070;
  --hover-color: rgba(50, 49, 45, 0.4);
  --text-color: #353430;
  --subtitel-color: #353430;
  --button-text-color: #353430;
  --decoration-tag-color: transparent;
  --main-title-color: #353430;
  --background: #fff1f7 url(../images/cover-image-light.png) no-repeat center / cover;

  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #ff8dcb;
    --title-color: #ffc2e6;
    --focus-color: #353430;
    --shadow-color: #ff0070;
    --hover-color: rgba(50, 49, 45, 0.4);
    --text-color: #000028;
    --subtitel-color: #353430;
    --button-text-color: #000028;
    --decoration-tag-color: transparent;
    --main-title-color: #000028;
    --background: #fff1f7 url(../images/cover-image-light.png) no-repeat center / cover;
  }
}

@media (max-width: 1023px) {
  .footer_title {
    --shadow-color: #ff8dcb;
  }
}

@media (max-width: 767px) {
  .footer_title {
    --shadow-color: #ff8dcb;
  }
}
