/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-image: url(../images/cover-image-dark.png);
  background-color: #000028;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1024px;
  background-attachment: fixed;
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
}

.header {
  width: 100%;
  height: 768px;
  position: relative;
}

.header__theme-menu {
  width: 230px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 280.5px
}

.header__theme-menu-list {
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(3, 70px);
  gap: 10px;
  padding-top: 16px;
}

.header__theme-menu-item {
  text-align: center;
}

.decoration_tag {
  position: absolute;
  width: 33px;
  height: 26px;
  color: #FF0070;
  font-family: "IBM Plex Mono", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  top: 16px; 
  right: 48px;
}

.decoration_tag::after {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 100%;
  border: solid 1px #FF0070;
  background-color: #FF0070;
  position: absolute;
  top: 7px;
  right: -21px;
  box-shadow: 0px 0px 3px 3px #FF0070;
}

.header__theme-menu-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  overflow: hidden;
  color: #FF0070;
  text-align: center;
  font-family: "IBM Plex Mono", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px
}

.header__theme-menu-button:hover {
  border: 1px solid rgba(255, 0, 112, 0.40)
}

.header__theme-menu-button:focus {
  border-bottom: solid 1px #FF0070;
}

.header__theme-menu-button_type_dark {
  outline: 1px solid #FF0070;
  outline-offset: 6px;
}

.header_title {
  width: 759px;
  height: 130px;
  color: #DB00FF;
  text-shadow: 4px 4px 0px #FF0070;
  font-family: "IBM Plex Mono", sans-serif;
  font-size: 157px;
  font-style: normal;
  font-weight: 700;
  line-height: 82.5%;
}

.header_title::before {
  content: "";
  width: 25px;
  height: 25px;
  border-top: 1px solid #FF0070;
  border-right: 1px solid #FF0070;
  position: absolute;
  top: 16px;
  right: 20px;
}

.header_text {
  display: block;
  max-width: 491px;
  margin: 112px 20px 134px 514px;
}

.header_text::after {
  content: "";
  width: 25px;
  height: 25px;
  border-bottom: 1px solid #FF0070;
  border-left: 1px solid #FF0070;
  position: absolute;
  bottom: 24px;
  left: 20px;
}

.title_decor {
  color: #000028;
  font-family: "IBM Plex Mono", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px;
  background-color: #FF0070;
}

.title_question {
  color: #FF0070;
  font-family: "IBM Plex Mono", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px;
}

p {
  color: #F1B2CE;
  font-family: "IBM Plex Mono", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px;
}

.main_content {
  width: 100%;
}

.section_why {
  display: grid;
  grid-template-columns: 1fr, 2fr;
  margin: 55px -8px 0 0;
  gap: 10px;
}

.title_why {
  grid-column: 1 / 2;
  width: 280.96px;
  justify-self: center;
}

.link_in_the_text {
  text-decoration: none;
  text-shadow: 2px 2px 0px #FF0070;

}

.link_in_the_text:hover {
  border-bottom: 1px solid #F1B2CE;
}

.link_in_the_text:focus {
  border: 1px solid #F1B2CE;
}

.answer_to_why {
  grid-column: 2 / 3;
  width: 655.918px;
  justify-self: center;
}

.text_why {
  padding-top: 10px;
}

.subtitle_why-dofamin {
  margin-top: 20px;
}

.section_what {
  margin: 80px 20px;
  /* padding: 80px 20px; */
}

.title_what {
  width: 315px;
  padding-bottom: 20px;
}

.answer_to_what {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.text_what {
  margin-top: -10px;
}

.subtitle_what_multitasking {
  grid-column: 1 / 2;
}

.multitasking {
  grid-column: 1 / 2;
}

.subtitle_what_food {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.food {
  grid-column: 2 / 3;
}

.subtitle_what_gadjet {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}

.gadjet {
  grid-column: 3 / 4;
}

.section_how {
  /* padding: 80px 20px; */
  margin-left: 20px;
  display: grid;
  grid-template-columns: 1fr, 2fr;
  gap: 20px;
}

.title_how {
  width: 315px;
  grid-column: 1 / 2;
  grid-row: 1 / 12;
}

.subtitle_how {
  grid-column: 2 / 3;
}

.title_advice {
  background-color: #FF0070;
  color: #000028;
  font-family: "IBM Plex Mono", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px;
  /* margin-top: 15px; */
}

.section_picture {
  padding: 0 20px;
  display: grid;
  margin-top: 31px;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  align-items: start;
  grid-template-areas: 
  "title_picture title_picture title_picture"
  "sunset sunset icecream"
  "tape book icecream"
  "tape street street"
  "tape street street";  
}

.title_picture {
  grid-area: title_picture;
  width: 100%;
  height: 23px;
}

.sunset {
  grid-area: sunset;
  width: 100%;
  height: 260px;
}

.icecream {
  grid-area: icecream;
  width: 100%;
  height: 595px;
  object-fit: cover;
}

.tape {
  grid-area: tape;
  width: 100%;
  height: 768px;
  object-fit: cover;
}

.book {
  grid-area: book;
  width: 100%;
  height: 315px;
}

.street {
  grid-area: street;
  width: 100%;
  height: 428px;
}

.footer {
  position: relative;
}

.footer_title::before {
  content: "";
  width: 25px;
  height: 25px;
  border-top: 1px solid #FF0070;
  border-right: 1px solid #FF0070;
  position: absolute;
  top: 20px;
  right: 20px;
}

.footer_title {
  display: flex;
  width: 1024px;
  height: 768px;
  padding: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #DB00FF;
  text-shadow: 2px 2px 0px #FF0070;
  font-family: "IBM Plex Mono", sans-serif;
  font-size: 157px;
  font-style: normal;
  font-weight: 700;
  line-height: 82.5%;
}

.footer_title::after {
  content: "";
  width: 25px;
  height: 25px;
  border-bottom: 1px solid #FF0070;
  border-left: 1px solid #FF0070;
  position: absolute;
  bottom: 20px;
  left: 20px;
}
