/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-image: url(../images/cover-image-dark.png); 
  background-color: var(--background-color);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1024px;
  background-attachment: fixed;
  margin-inline: 20px;
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
}

.header {
  width: 100%;
  position: relative;
}

.header__theme-menu {
  width: 230px;
  margin-left: auto;
  margin-right: auto;
}

.header__theme-menu-list {
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(3, 70px);
  gap: 10px;
  padding-top: 16px;
  padding-left: 15px;
}

.header__theme-menu-item {
  text-align: center;
}

.decoration_tag {
  position: absolute;
  width: 33px;
  height: 26px;
  color: var(--decoration-tag-color);
  font-family: var(--IBM-Plex-Mono);
  font-size: 18px;
  font-style: normal;
  font-weight: var(--regular);
  line-height: 25px;
  top: 14px;
  right: 14px;
}

.decoration_tag::after {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: solid 1px var(--decoration-tag-color);
  background-color: var(--decoration-tag-color);
  position: absolute;
  top: 8px;
  right: -16px;
  box-shadow: 0px 0px 3px 3px var(--decoration-tag-color);
}

.header__theme-menu-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  overflow: hidden;
  color: var(--button-text-color);
  text-align: center;
  font-family: var(--IBM-Plex-Mono);
  font-size: var(--small-font);
  font-style: normal;
  font-weight: var(--regular);
  line-height: 18px
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--hover-color);
  outline-offset: 6px;
}

.header__theme-menu-button:focus {
  border-bottom: solid 1px var(--accent-color);
}

.header_title {
  width: 759px;
  min-height: 130px;
  padding-top: 280px;
  margin-left: -20px;
  color: var(--title-color);
  text-shadow: 4px 4px 0px var(--title-shadow);
  font-family: var(--IBM-Plex-Mono);
  font-size: var(--big-font);
  font-style: normal;
  font-weight: var(--bold);
  line-height: var(--big-height);
}

.header_title::before {
  content: "";
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--button-text-color);
  border-right: 1px solid var(--button-text-color);
  position: absolute;
  top: 14px;
  right: -14px;
}

.header_text-box {
  display: flex;
  min-width: 491px;
  padding: 113px 0 134px 494px;
}

.header_text-box::after {
  content: "";
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--button-text-color);
  border-left: 1px solid var(--button-text-color);
  position: absolute;
  bottom: 42px;
  left: 0px;
}

.title_decor {
  color: var(--subtitel-color);
  font-family: var(--IBM-Plex-Mono);
  font-size: var(--small-font);
  font-style: normal;
  font-weight: var(--bold);
  line-height: var(--small-heigh);
  background-color: var(--accent-color);
}

.title_question {
  color: var(--main-title-color);
  font-family: var(--IBM-Plex-Mono);
  font-size: var(--small-font);
  font-style: normal;
  font-weight: var(--bold);
  line-height: var(--small-heigh);
}

p {
  color: var(--text-color);
  font-family: var(--IBM-Plex-Mono);
  font-size: var(--small-font);
  font-style: normal;
  font-weight: var(--regular);
  line-height: var(--small-heigh);
}

.main_content {
  width: 100%;
}

.section_why {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr, 2fr;
  margin: 38px 0;
  gap: 20px;
}

.title_why {
  grid-column: 1 / 2;
  max-width: 315px;
  justify-self: center;
}

.link_in_the_text {
  text-decoration: none;
  text-shadow: 2px 2px 0px var(--accent-color);

}

.link_in_the_text:hover {
  border-bottom: 1px solid var(--text-color);
}

.link_in_the_text:focus {
  border: 1px solid var(--text-color);
}

.answer_to_why {
  grid-column: 2 / 3;
  justify-self: center;
}

.text_why {
  padding-top: 10px;
}

.section_what {
  padding-top: 43px;
}

.title_what {
  width: 315px;
  padding-bottom: 20px;
}

.answer_to_what {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.text_what {
  margin-top: -10px;
}

.subtitle_what_multitasking {
  grid-column: 1 / 2;
}

.multitasking {
  grid-column: 1 / 2;
}

.subtitle_what_food {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.food {
  grid-column: 2 / 3;
}

.subtitle_what_gadjet {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}

.gadjet {
  grid-column: 3 / 4;
}

.section_how {
  display: grid;
  grid-template-columns: 1fr, 2fr;
  gap: 16px;
  padding-top: 61px;
}

.title_how {
  width: 315px;
  grid-column: 1 / 2;
  grid-row: 1 / 12;
}

.subtitle_how {
  grid-column: 2 / 3;
}

.title_advice {
  background-color: var(--accent-color);
  color: var(--subtitel-color);
  font-family: var(--IBM-Plex-Mono);
  font-size: var(--small-font);
  font-style: normal;
  font-weight: var(--regular);
  line-height: var(--small-heigh);
}

.section_picture {
  display: grid;
  padding-top: 70px;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  align-items: start;
  grid-template-areas: 
  "title_picture title_picture title_picture"
  "sunset sunset icecream"
  "tape book icecream"
  "tape street street"
  "tape street street";  
}

.title_picture {
  grid-area: title_picture;
  width: 100%;
  height: 23px;
}

.sunset {
  grid-area: sunset;
  width: 100%;
  height: 260px;
  object-fit: cover;
}

.icecream {
  grid-area: icecream;
  width: 100%;
  height: 595px;
  object-fit: cover;
}

.tape {
  grid-area: tape;
  width: 100%;
  height: 768px;
  object-fit: cover;
}

.book {
  grid-area: book;
  width: 100%;
  height: 315px;
  object-fit: cover;
}

.street {
  grid-area: street;
  width: 100%;
  height: 433px;
  object-fit: cover;
}

.footer {
  width: 100%;
  position: relative;
}

.footer_title::before {
  content: "";
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--button-text-color);
  border-right: 1px solid var(--button-text-color);
  position: absolute;
  top: 81px;
  right: -14px;
}

.footer_title {
  display: flex;
  width: 100%;
  justify-content: center;
  padding-top: 381px;
  padding-left: 14px;
  color: var(--title-color);
  text-shadow: 2px 2px 0px var(--accent-color);
  font-family: var(--IBM-Plex-Mono);
  font-size: var(--big-font);
  font-style: normal;
  font-weight: var(--bold);
  line-height: var(--big-height);
}

.footer_title::after {
  content: "";
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--button-text-color);
  border-left: 1px solid var(--button-text-color);
  position: absolute;
  bottom: -300px;
  left: 0px;
}

@media (max-width: 768px) {

  .page {
    max-width: 768px;
  }

  .header__theme-menu {
  margin: 0;
  padding-left: 651px;
  padding-top: 299px;
}

.header__theme-menu-list{
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.decoration_tag {
  top: 145px;
  right: 27px;
}

.header_title::before {
  top: 144px;
  right: 0px;
}

.header_title {
  padding-top: 173px;
  font-size: var(--medium-font);
}

.header_text-box {
  padding: 163px 0 134px 365px;
}

.header_text-box::after {
  bottom: -54px;
}

.section_why {
  margin-top: 133px;
  margin-bottom: 85px;
}

.title_why {
  max-width: 239px;
}

.subtitle_why-dofamin {
  margin-top: 25px;
}

.title_what {
  padding-bottom: 42px;
}

.answer_to_what {
  display: flex;
  flex-direction: column;
}

.section_what {
  padding-top: 2px;
}

.section_how {
  gap: 18px;
  padding-top: 88px;
}

.title_how {
  width: 240px;
}

.section_picture {
  padding-top: 70px;
}

.sunset {
  height: 194px;
}

.icecream {
  height: 442px;
}

.tape {
  height: 566px;
}

.book {
  height: 227px;
}

.street {
  height: 317px;
}

.footer_title::before {
  top: 80px;
  right: 0px;
}

.footer_title {
  font-size: var(--medium-font);
  padding-top: 523px;
  padding-left: 1px;
}

.footer_title::after {
  bottom: -442px;
}

}

@media (max-width: 375px) {
  .page {
    width: 375px;
    margin: -10px 10px;
  }

  .header_title::before {
    top: 33px;
    right: 22px;
  }

  .header_title {
    width: 100%;
    margin-left: 0;
    padding-top: 67px
  }

  .header_text-box {
    padding: 49px 0;
  }

  .header_text {
    max-width: 355px;
  }

  .header_text-box::after {
    bottom: -32px;
  }

  .header__theme-menu {
    padding-left: 277px;
    padding-top: 80px;
  }

  .decoration_tag {
    top: 32px;
    right: 46px;
  }

  .title_why {
    margin-bottom: 20px;
  }

   .section_why {
    display: block;
    margin-top: 81px;
    margin-bottom: 76px;
  }

  .subtitle_why-dofamin {
    margin-top: 52px;
  }

  .title_what {
    padding-bottom: 24px;
  }

  .subtitle_what_multitasking {
    margin-bottom: 24px; 
  }

  .subtitle_what_food {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .subtitle_what_gadjet {
    margin-top: 20px;
    margin-bottom: 25px;
  }

  .answer_to_what {
    display: block;
  }

  .section_how  {
    display: block;
    padding-top: 77px;
  }

  .title_advice {
    margin-top: 30px;
    margin-bottom: 38px;
  }

  .section_picture {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 17px;
  }

  .sunset {
    height: 148px;
  }
  
  .icecream {
    height: 356px;
  }
  
  .tape {
    height: 232px;
  }
  
  .book {
    height: 359px;
  }
  
  .street {
    height: 236px;
  }

  .footer_title::before {
    top: 51px;
    right: 19px;
  }

  .footer_title {
    padding-top: 325px;
  } 

  .footer_title::after {
    bottom: -275px;
  }
}