/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  max-width: 1024px;
  background-attachment: fixed;
  margin: 0 auto;
  padding: 20px;
  background: var(--background);

  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
}

.decorated-zone::before {
  content: "";
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--button-text-color);
  border-right: 1px solid var(--button-text-color);
  position: absolute;
  top: 0px;
  right: 0px;
}
.header {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  block-size: 100vh;
  min-height: 728px;
  width: 100%;
  position: relative;
}

.header__theme-menu-list {
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(3, 70px);
  gap: 10px;
}

.header__theme-menu-item {
  text-align: center;
}

.header__theme-menu-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: var(--button-text-color);
  text-align: center;
  font-family: var(--IBM-Plex-Mono), monospace;
  font-size: var(--text-font-size);
  font-style: normal;
  font-weight: var(--regular);
  line-height: 18px;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--hover-color);
  outline-offset: 1px;
}

.header__theme-menu-button_active {
  pointer-events: none;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: solid 1px var(--focus-color);
}

.decoration_tag {
  position: absolute;
  text-transform: uppercase;
  color: var(--decoration-tag-color);
  font-family: var(--IBM-Plex-Mono), monospace;
  font-size: var(--text-font-size);
  font-style: normal;
  font-weight: var(--regular);
  line-height: 25px;
  top: 2px;
  right: 28px;
}

.decoration_tag::after {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: solid 1px var(--decoration-tag-color);
  background-color: var(--decoration-tag-color);
  position: absolute;
  top: 8px;
  right: -16px;
  box-shadow: 0px 0px 3px 3px var(--decoration-tag-color);
}

.header_title {
  max-width: 759px;
  margin-inline-start: -21px;
  margin-top: 4px;
  color: var(--title-color);
  text-shadow: 4px 4px 0px var(--title-shadow);
  font-family: var(--IBM-Plex-Mono), monospace;
  font-size: var(--big-font_header);
  font-style: normal;
  font-weight: var(--bold);
}

.header_subtitle-box {
  max-width: 491px;
  justify-self: end;
  margin-top: 30px;
}

.subtitle_decor {
  color: var(--subtitel-color);
  font-family: var(--IBM-Plex-Mono), monospace;
  font-style: normal;
  font-size: var(--text-font-size);
  font-weight: var(--bold);
  line-height: var(--small-heigh);
  background-color: var(--accent-color);
}

.title_question-decor {
  color: var(--main-title-color);
  font-family: var(--IBM-Plex-Mono), monospace;
  font-size: var(--text-font-size);
  font-style: normal;
  font-weight: var(--bold);
  line-height: var(--small-heigh);
}

.text-answer {
  color: var(--text-color);
  font-family: var(--IBM-Plex-Mono), monospace;
  font-size: var(--text-font-size);
  font-style: normal;
  font-weight: var(--regular);
  line-height: var(--small-height);
}

.decorated-zone::after {
  content: "";
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--button-text-color);
  border-left: 1px solid var(--button-text-color);
  position: absolute;
  bottom: 40px;
  left: 0px;
}

.main_content {
  width: 100%;
  margin-top: 38px;
}

.section_why {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-top: 25px;
  gap: 10px;
}

.title_why {
  grid-column: 1 / 2;
  max-width: 315px;
}

.link_in_the_text {
  text-decoration: none;
  text-shadow: 2px 2px 0px var(--accent-color);
}

.link_in_the_text:hover {
  border-bottom: 1px solid var(--text-color);
}

.link_in_the_text:focus {
  outline: none;
}

.link_in_the_text:focus-visible {
  border: 1px solid var(--text-color);
}

.answer_to_why {
  grid-column: 2 / 3;
}

.text_why {
  padding-top: 10px;
  padding-bottom: 20px;
}

.section_what {
  margin-top: 63px;
}

.title_what {
  width: 315px;
  padding-bottom: 20px;
}

.answer_to_what {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.text_what {
  padding-top: 10px;
}

.subtitle_what_multitasking {
  grid-column: 1 / 2;
}

.multitasking {
  grid-column: 1 / 2;
}

.subtitle_what_food {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.food {
  grid-column: 2 / 3;
}

.subtitle_what_gadjet {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}

.gadjet {
  grid-column: 3 / 4;
}

.section_how {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 12px;
  padding-top: 80px;
}

.title_how {
  width: 315px;
  grid-column: 1 / 2;
}

.block_advice {
  display: grid;
  gap: 12px;
  grid-column: 2 / 3;
}

.title_advice {
  margin-top: 7px;
  background-color: var(--accent-color);
  color: var(--subtitel-color);
  font-family: var(--IBM-Plex-Mono), monospace;
  font-size: 18px;
  font-style: normal;
  font-weight: var(--regular);
  line-height: var(--small-heigh);
}

.titel_picture {
  margin-top: 70px;
}

.section_picture {
  max-width: 100%;
  min-height: 100%;
  display: grid;
  margin-top: 77px;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  align-items: start;
  grid-template-areas:
    "subtitel_picture subtitel_picture subtitel_picture"
    "sunset sunset icecream"
    "tape book icecream"
    "tape street street";
}

.title_picture {
  grid-area: title_picture;
  max-width: 100%;
  max-height: 100%;
}

.image_gallery {
  display: block;
  max-width: 100%;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
}

.subtitel_picture {
  grid-area: subtitel_picture;
}

.sunset {
  grid-area: sunset;
}

.icecream {
  grid-area: icecream;
}

.tape {
  grid-area: tape;
}

.book {
  grid-area: book;
}

.street {
  grid-area: street;
}

.footer {
  width: 100%;
  display: flex;
  height: 100vh;
  margin-top: 81px;
  position: relative;
  text-align: center;
}

.footer_title {
  width: 100%;
  padding-top: 299px;
  color: var(--title-color);
  text-shadow: 2px 2px 0px var(--shadow-color);
  font-family: var(--IBM-Plex-Mono), monospace;
  font-size: var(--big-font_header);
  font-style: normal;
  font-weight: var(--bold);
  line-height: var(--big-height);
}

@media (max-width: 1023px) {
  .header__theme-menu {
    padding-left: 657px;
    padding-top: 173px;
  }

  .header__theme-menu-list {
    display: flex;
    gap: 16px;
    flex-direction: column;
  }

  .header_title {
    margin-top: 69px;
    font-size: var(--small-font_header);
  }

  .header_subtitle-box {
    max-width: 364px;
    justify-self: end;
    margin-top: 21px;
  }

  .main_content {
    margin-top: 40px;
  }

  .section_why {
    gap: 20px;
  }

  .text_why {
    padding-bottom: 0;
  }

  .subtitle_why-dofamin {
    margin-top: 18px;
  }

  .title_what {
    max-width: 231px;
  }

  .answer_to_what {
    display: flex;
    flex-direction: column;
  }

  .section_what {
    margin-top: 84px;
  }

  .section_how {
    gap: 16px;
  }

  .title_how {
    width: 240px;
  }

  .footer_title {
    padding-top: 446px;
    font-size: var(--small-font_header);
  }
}
@media (max-width: 767px) {
  .page {
    padding: 10px;
  }

  .header {
    min-height: 668px;
  }

  .header__theme-menu {
    padding-left: 284px;
    padding-top: 66px;
  }

  .header_title {
    margin-top: 6px;
    padding-left: 20px;
    line-height: var(--big-height);
  }

  .header_subtitle-box {
    margin-top: 30px;
  }

  .decorated-zone::after {
    bottom: 20px;
  }

  .main_content {
    margin: 0;
  }

  .title_why {
    margin-bottom: 21px;
  }

  .section_why {
    display: block;
    margin-top: 30px;
  }

  .subtitle_why-dofamin {
    margin-top: 20px;
  }

  .section_what {
    margin-top: 51px;
  }

  .title_what {
    min-width: 269px;
    padding-bottom: 21px;
  }

  .section_how {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    gap: 20px;
  }

  .title_how {
    width: 100%;
  }

  .block_advice {
    display: block;
  }

  .title_advice {
    margin-top: 21px;
    margin-bottom: 10px;
  }

  .text_how {
    padding: 0;
  }

  .titel_picture {
    margin-top: 50px;
  }

  .section_picture {
    display: flex;
    margin-top: 49px;
    flex-direction: column;
    gap: 10px;
  }

  .footer {
    margin-top: 52px;
  }

  .footer_title {
    padding-top: 277px;
  }
}
