/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --accent-color: #FF0070;
  --title-color: #DB00FF;
  --title-shadow: #FF0070;
  --hover-color: rgba(255, 0, 112, 0.40);
  --background-color: #000028;
  --text-color: #F1B2CE;
  --subtitel-color: #000028;
  --button-text-color: #FF0070;
  --decoration-tag-color: #FF0070;
  --main-title-color: #FF0070;
  
  --IBM-Plex-Mono: "IBM Plex Mono", sans-serif;
  --bold: 700;
  --regular: 400;
  --small-height: 23.4px;
  --big-height: 82.5%;
  --small-font: 18px;
  --medium-font: 120px;
  --big-font: 157px;
}