/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --red: #FF0070;
  --purple: #DB00FF;
  --deep-red-transperent: rgba(255, 0, 112, 0.40);
  --black: #000028;
  --beige: #F1B2CE;
  --IBM-Plex-Mono: "IBM Plex Mono", sans-serif;
  --bold: 700;
  --regular: 400;
  --small-height: 23.4px;
  --big-height: 82.5%;
  --small-font: 18px;
  --big-font: 157px;
}